modules/scscf/src/main/xsd/SharedIFCS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

<xs:import schemaLocation="CxDataType_Rel8.xsd"/>

	<xs:complexType name="tSharedIFC">
    		<xs:sequence>
			<xs:element name="ID" type="tSharedIFCSetID"/>
      		<xs:element name="InitialFilterCriteria" type="tInitialFilterCriteria"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="SharedIFCs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SharedIFC" type="tSharedIFC" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>

